.btn{
	color:#FFFFFF !important;
	background-color:#ccffcc!important;

		
}

.bg-primary {
	background-color: #3fc467 !important;
	border-color: #3fc467 !important;
	color:#FFFFFF;
}


.bg-secondary{
	color:#000000 !important;
	background-color:#ccffcc !important;
	border-color: #3fc467 !important;
	
	
}

.btn-secondary{
	color:#000000 !important;
	background-color: #ccffcc !important;
	border-color:#3fc467 !important;
		
}



.table-danger{
	background-color:#ccffcc !important;
}

.border-danger{

    border-color:#3fc467 !important;

}
