.btn-primary{
	color: #ffffff !important;
	border-color: #1B8EFF !important;
	
	
}

.btn{
	background-color: #0049FF !important;
	border-color: #0049FF !important;
}

.bg-primary{
	background-color:#1B8EFF !important;
}
