
.btn-primary{
	color: #f55d5d !important;
	background-color: #f7d1d1 !important;
	border-color: #ff9999 !important;


} 

.btn{
    color: #852525!important;
    background-color: #f7d1d1 !important;
	border-color: #f55d5d!important;


}

.bg-secondary{
	color: #f7d1d1 !important;
	background-color: #f55d5d !important;
	border-color: #f55d5d !important;


}

.btn-secondary{
	color: #f7d1d1 !important;
	background-color: #f55d5d !important;
	border-color: #f55d5d !important;


}

ul.dropdown-menu li a{
	color: #852525 !important;
}


ul.dropdown-menu{
	color: #852525 !important;
	background-color: #f3d7d7 !important;
	border-color: #ff9999 !important;


}

ul.dropdown-menu a{
	background-color: #f7d1d1!important;
}

.table-danger{
	background-color: #ffc2c2 !important;
}

.border-danger{
	border-color: #f55d5d !important;
}

.main-item a{

	font-weight: normal !important;
	padding: 12px 10px 12px 10px  !important;
	border-radius: 5px !important;
}

.main-item a:hover, .table a:hover{
	color: #fcdddd !important;
	background-color: #f55d5d !important;
}


ul.dropdown-menu li a:hover{
	color: rgb(230, 243, 255) !important;
	background-color: #f55d5d!important;
	border-style: solid !important;
	border: 1px 0 1px 0 !important;
	border-color: #f55d5d !important;
}


/*  table headers sticky */

/*  tables  */
table {
	width: 100%;
	margin: 0; /* Adjust margin as needed */
	border-collapse: separate; /* Don't collapse */
  	border-spacing: 0;
	
  }
  
  thead, tbody {
	display: block;

  }
  
  td.first-row {

	position: sticky;
	top: 0;
	background-color: #f2f2f2; /* Set a background color for the sticky header */
	border: 1px 0 1px 0;
	border-style: solid;
	border-color: #aaa8a8;
  }
  
  th,td{
	padding: 10px;
	text-align: left;
	border: 1px solid #ddd; /* Add a border for better visibility */
	
  }

  td.keep-width{
	word-break: break-all;
  }

  th{
	width: 100%;
  }
  
  tbody {
	max-height: 300px; /* Set a maximum height for the tbody to enable scrolling */
	overflow-y: auto;
  }
  
  /* Style the table as needed */
  